[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak 
{
	display: none !important;
}
html 
{
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
body 
{
	padding-top: 70px;
	padding-bottom: 100px;
	line-height: 30px;
	text-align: justify;
}
#main
{
	margin-bottom: 70px;
}
.right
{
	float: right;
}
.navbar {
	background-color: #3f51b5 !important;
	color:#ffffff;
}
.navbar a , .navbar-default .navbar-brand,.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus  ,.navbar-default .navbar-text , .navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{color: #ffffff;}
#siteTitle
{
	text-transform: capitalize;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	font-size: 2rem;
}
#home h3
{
	color: #3f51b5 !important;
	padding-bottom: 10px;
	border-bottom: 1px solid #3f51b5;
}
#home .highlight-text
{
	color: #3f51b5 !important;
	font-weight: bolder;
}
.higlight
{
	font-weight: bolder;
}
#aboutme
{
	margin-top: 50px;
}
#aboutme a, #aboutme a:active
{
	color:#000000;
}
#aboutme li
{
	margin-bottom: 20px;
}
#aboutme h4
{
	font-weight: lighter;
}
#aboutme a:hover
{
	text-decoration: none;
	color: #01579b;
}
.img-circular
{
	 width: 140px;
	 height: 140px;
	 background-image: url('/img/sriram.JPG');
	 background-size: cover;
	 display: block;
	 border-radius: 70px;
	 -webkit-border-radius: 70px;
	 -moz-border-radius: 70px;
	 margin: auto;
	 margin-top: 25%;
	 filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}
.img-circular:hover
{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}

