#aboutme
{
	margin-top: 50px;
}
#aboutme a, #aboutme a:active
{
	color:#000000;
}
#aboutme li
{
	margin-bottom: 20px;
}
#aboutme h4
{
	font-weight: lighter;
}
#aboutme a:hover
{
	text-decoration: none;
	color: #01579b;
}
.img-circular
{
	 width: 140px;
	 height: 140px;
	 background-image: url('/img/sriram.JPG');
	 background-size: cover;
	 display: block;
	 border-radius: 70px;
	 -webkit-border-radius: 70px;
	 -moz-border-radius: 70px;
	 margin: auto;
	 margin-top: 30px;
	 margin-bottom: 30px;
	 filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}
.img-circular:hover
{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}