[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak 
{
	display: none !important;
}
html 
{
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
body 
{
	padding-top: 70px;
	padding-bottom: 100px;
	line-height: 30px;
	text-align: justify;
}
#main
{
	margin-bottom: 70px;
}
.right
{
	float: right;
}
.navbar {
	background-color: #3f51b5 !important;
	color:#ffffff;
}
.navbar a , .navbar-default .navbar-brand,.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus  ,.navbar-default .navbar-text , .navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{color: #ffffff;}
#siteTitle
{
	text-transform: capitalize;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	font-size: 2rem;
}
#home h3
{
	color: #3f51b5 !important;
	padding-bottom: 10px;
	border-bottom: 1px solid #3f51b5;
}
#home .highlight-text
{
	color: #3f51b5 !important;
	font-weight: bolder;
}
