[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak 
{
	display: none !important;
}
html 
{
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
body { padding-top: 70px;  padding-bottom: 70px; }