<div id="home">
<div id="banner">
	<div class="container">
		<div class="row">
		<div class="col-md-3">
			<div class="img-circular"></div>
		</div>
		<div class="col-md-6">
	    	<h3>Hello World!</h3>
			<p>I'm <span class="highlight-text">Sriramajeyam Sugumaran</span> and I am a <span class="highlight-text">full stack web engineer</span> based Chennai, India. I love creating quality web applications. I work at Cognizant, and studied Electorics &amp; Communication Engineering.</p>
			<p>I spend my free time on github exploring latest web trends. A more detailed look at my professional skills and experience can be found on <a href="#/work">work page</a>.</p>
			<p>This site is under continous development. If you are interested to watch the development activities visit <a href="https://github.com/yesoreyeram/yesoreyeram.github.io" target="_blank">my github page.</a></p>
			<p class="right"><a href="#/aboutme" class="btn btn-primary">More about me..</a></p>
		</div>
		<div class="col-md-3">
	    	<h3>Quick Contact</h3>
			<ul class="fa-ul">
				<li><a href="#" target="_blank"><i class="fa-li fa fa-twitter"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa-li fa fa-facebook"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa-li fa fa-email"></i></a></li>
			</ul>
			<ul>
				<li>Location : Chennai, India</li>
				<li>Phone : +91-9894074711</li>
			</ul>
		</div>
	</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Articles I Wrote</h3>
			<div ng-hide="blogArticles">Loading...</div>
			<ul>
				<li ng-repeat="blog in blogArticles">
					<a href="#/article/{{blog.slug}}">{{blog.title}}</a>
				</li>
				<li class="right"><a href="#/articles">More Articles</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>My Recent Bookmarks</h3>
			<div ng-hide="deliciousBookmarks">Loading..</div>
			<ul>	
				<li ng-repeat="bookmark in deliciousBookmarks"><a href="{{bookmark.u}}" target="_blank">{{bookmark.d}}</a></li>
				<li class="right"><a href="#/bookmarks">More bookmarks</a></li>
			</ul>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Recently Read</h3>
			<p>Coming Soon</p>
		</div>
	</div>
</div>
</div>